/**
	Contains the keyframes
 */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loader {
    0%,
    to {
        transform: translate(0, -50%);
        animation-timing-function: ease-in;
    }

    40% {
        transform: translate(0, 50%);
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }
}