/**
	Custom UI-Kit
 */

@import './mixins';

.ui {
    // custom global UI styles will go here.

    &-card {
        border-radius: 5px;
        background-color: #fff;
        padding: 15px;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    &-link {
        color: $color-link;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color .2s linear;
        &:hover {
            border-bottom-color: $color-link;
        }
    }
}
